body{
    display:flex;
    flex-direction: column;
    align-items:center;

}
.display {
    display: flex;
    background-color: rgb(169, 169, 169);
    justify-content: end;
    min-height: 50px;
    min-width: 300px;
    margin-bottom: 50px;
}

.buttons {
    text-align: center;    
}

.numberButtons {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    

}

.zeroButton {
    grid-column-start: 2;
    grid-column-end: 3;

}

.operatorButtons:focus {
    outline: aquamarine;
}

input {
    background-color: bisque;
}